* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    background-color: #182C61;
    color: #ecf0f1;
    padding: 16px 0;
}

header h1,
section h2 {
    font-weight:lighter;
    
}

header,
section h2 {
    font-family: "Bungee", cursive;
}

body {
    font-family: "Roboto", sans-serif;
}

header nav li {
    display: inline;
    margin-left: 16px;
    font-size: 18px;
}

header nav li a {
    color: #ecf0f1;
    text-decoration: none;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

header .container,
section .container {
    display: flex; 
    justify-content: space-between;
    align-items: center;
}

.brands-list img {
    height: 24px;
}

.brands-list li {
    display: inline;
    margin-right: 8px;
}

section .container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 32px;
}

section {
    padding: 28px 0;
    color: #182C61;
}

section h2 {
    margin-bottom: 16px;
    color: #182C61;
}

section p {
    margin-bottom: 8px;
}
